<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Alteração de Cliente </h1>
    <form action="/altclient" method="post">
        <p>CPF:<input type="text" name="cpf" /></p>
        <p>CPF Novo:<input type="text" name="cpfNovo" /></p>
        <p>Nome Novo:<input type="text" name="nomeNovo" /></p>
        <p><input type="submit" value="Alterar" /></p>
    </form>
</body>
</html>