<!DOCTYPE html>
<html lang="en">
<head></head>
<br>
    <h1 class="text-center title-1"> Página Inicial </h1>
    <p>Escolha uma Opção</p>
    <br>
        <a href="/procuracidade">Procurar por CEP</a></br>
        <a href="/newcidade">Cadastrar Cidade</a></br>
        <a href="/cidadelist">Listar Cidade</a>
    </div>
</body>
</html>