<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <a href="/">Voltar</a>
    <h1 class="text-center title-1"> Procura Temperatura Pelo CEP </h1>
    <form action="/searchcidade" method="post">
        <p>CEP:<input type="text" name="cep" /></p>
        <p><input type="submit" value="Procurar" /></p>
    </form>
</body>
</html>