<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Remoção de Cliente </h1>
    <form action="/rmvclient" method="post">
        <p>CPF:<input type="text" name="cpf" /></p>
        <p><input type="submit" value="Remover" /></p>
    </form>
</body>
</html>